<header>
  <div class="header">
    <div class="left-menu">
      <%= link_to image_tag("/images/up-clo_logo_ns.jpg", id: "public", class:"logo"), root_path %>
    </div>
    <div class="right-menu">
      <ul>
        <li><a href="#" class="header-menu"><i class="fas fa-file-import">Post</i></a>
          <ul>
            <li><a href="#" class="menu-list">Items</a></li><br>
            <li><a href="#" class="menu-list">Stylings</a></li><br>
          </ul>
        </li>
        <li><a href="#"class="header-menu"><i class="fas fa-search">Seach</i></a>
          <ul>
            <li><a href="#" class="menu-list">Category</a></li><br>
            <li><a href="#" class="menu-list">Color</a></li><br>
            <li><a href="#" class="menu-list">Pattern</a></li><br>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li><a href="#" class="header-menu"><i class="fas fa-tshirt"><%=current_user.nickname%>'s closet</i></a></li> 
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt header-menu">Sign out</i>
          <% end %></li>
        <% else %>
          <li><%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus ">Sign Up</i>
          <% end %></li>
          <li><%= link_to user_session_path do %>
            <i class="fas fa-sign-in-alt header-menu">Sign In</i>
          <% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>