<%= render "header" %>
<body>
  <div class="top-contents">
    <div class="top-content">
      <p>APPの説明文</p>
      <br>
      <a href="#"><i class="fas fa-user-plus">Sign Up</i></a><br>
      <br>
      <a href="#"><i class="fas fa-sign-in-alt">Sign In</i></a><br>
      <br>
    </div>
  </div>
  <div class="main">
      <h1 class="page-heading">ITES</h1>
        <div class="contents">
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample item</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample item</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample item</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample item</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample item</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample item</div>
        </div>
      </div>
      <h1 class="page-heading">STYLINGS</h1>
        <div class="contents">
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample styling</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample styling</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample styling</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample styling</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample styling</div>
          </div>
          <div class="content">
            <div><%= image_tag 'image.png', class:"sample-img" %></div>
            <div>sample styling</div>
        </div>
      </div>
  </div>
</body>