<%= render "header" %>
<body>
 <div class="body">
    <div class="top-contents">
      <div class="top-content">
        <% if user_signed_in? %>
          <p>検索箇所</p>
        <% else %>
          <p>APPの説明文</p>
          <br>
          <i class="fas fa-user-plus"><%= link_to "Sign Up", new_user_registration_path %></i>
          <br>
          <i class="fas fa-sign-in-alt"><%= link_to "Sign In", user_session_path %></i>
        <% end %>
      </div>
    </div>
    <div class="main">
      <h1 class="page-heading">ITEMS</h1>
      <% if user_signed_in? %>
      <% else %>
        <div class="contents">
          <% 5.times do %>
          <div class="content">
            <%= image_tag "/images/image.png", class:"sample-img" %>
            <div>sample item</div>
          </div>
          <% end %>
        </div>
      <% end %>
      <h1 class="page-heading">STYLINGS</h1>
      <% if user_signed_in? %>
       <% else %>
        <div class="contents">
          <% 5.times do %>
          <div class="content">
            <div><%= image_tag '/images/image.png', class:"sample-img" %></div>
            <div>sample styling</div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>