<%= render "header" %>

<header>
 <div class="top">
    <div class="top-contents">
      <div class="top-content">
        <% if user_signed_in? %>
          <p>検索箇所</p>
        <% else %>
          <p>あなたのクローゼット<br>アプリへようこそ！！</p>
          <br>
          <i class="fas fa-user-plus"><%= link_to "Sign Up", new_user_registration_path %></i>
          <br>
          <i class="fas fa-sign-in-alt"><%= link_to "Sign In", user_session_path %></i>
        <% end %>
      </div>
    </div>
  </div>
</header>

<body>
  <div class="main">
    <h1 class="page-heading">ITEMS</h1>
    <% if user_signed_in? %>
      <div class="contents">
        <% if current_user.items.present? %>
          <% @items.each do |item| %>
            <div class="content">
              <%= link_to item_path(item.id), method: :get  do %>
                <%= image_tag item.image, class: "sample-img" %><br>
                <p class="item-info" >Name : <%= item.item_name %></p>
                <p class="item-info" >Category : <%= item.category.name %></p>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="contents">
            <div class="content">
              <%= image_tag "/images/image.jpg", class:"sample-img" %><br>
              <p>Let's post !!</p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="contents">
        <% 5.times do %>
        <div class="content">
          <%= image_tag "/images/image.jpg", class:"sample-img" %><br>
          <div>sample item</div>
        </div>
        <% end %>
      </div>
    <% end %>
    <% if current_user.items.present? %>
      <br><%= paginate @items %>
      <br><div class="page">ページ:<%= @items.current_page %> / <%= @items.total_pages %><br>
      <%= @items.total_count %>件中<%= @items.offset_value + 1 %>〜<%= @items.offset_value + @items.length %>件を表示しています。</div><br>
    <% end %>
    <h1 class="page-heading">STYLINGS</h1>
    <% if user_signed_in? %>
      <%# スタイリング投稿機能実装追記 %>
        <%# <% if @items.present? %>
          <%#<% @items.each do |item| %>
            <%#<div class='list'>
              <%#<%= link_to item_path(item.id), method: :get  do %>
                <%#<div class='item-img-content'>
                  <%= image_tag item.image, class: "item-img" %>
                <%#</div>
              <% end %>
            <%#</div>
          <%#<% end %>
        <%#<% else %> 
          <div class="contents">
            <div class="content">
              <%= image_tag "/images/image.jpg", class:"sample-img" %><br>
              <p>Let's post !!</p>
            </div>
          </div>
        <%#<% end %>
    <% else %>
      <div class="contents">
        <% 5.times do %>
        <div class="content">
          <div><%= image_tag '/images/image.jpg', class:"sample-img" %></div><br>
          <div>sample styling</div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>