<%= render "items/header" %>
<div class="contents row">
  <div class="container">
    <div class="center-mesasage" ><h3>New item</h3></div>
    <%= form_with model: @item, class: 'new_item', local: true do |f| %>
      <%= render "error_messages", model: f.object %>
      <%# アイテム画像 %>
        アイテム<span class="indispensable">必須</span>
        <p class="sub-message">クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"item-image" %><br>
      <%# /アイテム画像 %>
      <%# ブランド %>
        ブランド
        <%= f.text_field :brand, class:"items-text", id:"item-size", placeholder:"ブランド（任意 最大40文字）" %>
      <%# /ブランド %>
      <%# アイテム名 %>
        アイテム名<span class="indispensable">必須</span>
        <%= f.text_field :item_name, class:"items-text", id:"item-name", placeholder:"アイテム名（必須 最大20文字)", maxlength:"20" %>
      <%# /アイテム名 %>
      <%# アイテムの特徴プルダウンメニュー %>
        <div class="items-detail">
          <div class="new-item">
            カテゴリー<span class="indispensable">必須</span>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"selecter"}) %>
          <div class="weight-bold-text">
            カラー
            <span class="indispensable">必須</span>
            <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"selecter"}) %>
          </div>
          <div class="weight-bold-text">
            柄
            <span class="indispensable">必須</span>
            <%= f.collection_select(:pattern_id, Pattern.all, :id, :name, {}, {class:"selecter"}) %>
          </div>
          <div class="weight-bold-text">
            季節
            <span class="indispensable">必須</span>
            <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"selecter"}) %>
          </div>
        </div>
      <%# /アイテムの特徴プルダウンメニュー %>
      <%# プライス %>
      <div class="new-item">
          <span>プライス<br>(¥0〜9,999,999)</span>
          <span class="indispensable">必須</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"（例）300" %>
      </div>
      <%# /プライス %>
      <%# サイズ %>
      <div class="new-item">
          サイズ
          <span class="indispensable">必須</span>
        <%= f.text_field :size, class:"items-text", id:"item-size", placeholder:"（例）M・48・25.0・フリー" %>
      </div>
      <%# /サイズ %>
      <%# シーン %>
      <div class="new-item">
          シーン
        <%= f.text_area :scene, class:"items-text", id:"item-scene", placeholder:"（例）シーン・オケージョン（20文字まで)" %>
      </div>
      <%# /シーン %>
      <%# メモ %>
      <div class="new-item">
          メモ
        <%= f.text_area :memo, class:"items-text", id:"item-memo", placeholder: "（例）やや大きめのサイズ感・着心地最高！・意外と暖かい  （100文字まで)", rows: "7"%>
      </div>
      <%# /メモ %>
      <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "Post" ,class:"post-btn" %><br>
      <%=link_to 'Top page', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>
</div>

